@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

body{
  font-family: 'Fira Sans', sans-serif;
  font-weight:800;
  line-height: 1.2;
  color: #222;
}

#user-name{
  font-family: 'Fira Sans', sans-serif;
  font-weight:800;
  line-height: 1.9;
  color: #222;
  
}

.block-name {
  font-weight: bold;
}

.splash-img{
  //opacity: 0.5;
  width: 100%; 
  height:100vh;
  object-fit: cover;  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.splash-login{
  font-family: 'Fira Sans', sans-serif;
  font-size:1.3em;

  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  .splash-login-text{
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.8);
    float:left;
    position:absolute;
    //transition-property: opacity;
    //background-position: center top;
    text-align: center;
    .splash-element{
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left:10px;
    }
  }
}

.site {
  visibility:hidden;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  .highlight{
    background-color: #99dcd8;
  }

form { 
    text-align: center;
    }

  .modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }


  .modal__container {
    z-index: 9999999;
    width: 60%;
    max-width:1024px;
  }

  .select-event{
    display:flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom:2em;
  }

  .select-condition{
    display:flex;
    justify-content: space-around;
    align-items: center; 
  }

  // altrimenti alcune parti del workspace si sovrappongono alle finestre modali
  #main-workspace-div{
    z-index:0;
  }
  
  input {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  
  input:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }

  .header{
    height: 24vh;
  .toolbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    .site-title-container{
      margin-left: 10px;
    }
    .utility-buttons-container{
      display:flex;
      .user-content{
        margin-right:10px;
      }
      .login-logout-container{
        margin-right:10px;
      }
    }
  }
  
  .support-container{
    display:flex;
    height: 10vh;
    //margin-bottom:1vh;
    //margin-top:1vh;
    .textarea-div{
      display:flex;
      width:75%;
      height:100%;
      margin:auto;
      #textarea{
        //border-radius:5px;
         //border-style: inset;
        //border-width: 2px;
        width: 97%;
        margin:auto;
      }
    }
    .suggestion-buttons-div{
      display:flex;
      width:25%;
      margin:auto;
      #suggestion-menu{
        width: 50%;
        height: 100%;
        margin:auto;
      }
    }
  }
}

.workspaces-container{
    display:flex;
    flex-direction: row;
    border-style: solid;
    height: 73vh;
    #main-workspace-div{
      width: 75%;  /* Or whatever */
      height: 100%; /* Or whatever */
      margin: 0;  /* Magic! */
      padding:0;
    }
        #suggestion-workspace-div{
          width: 25%;  /* Or whatever */
        height: 100%; /* Or whatever */
        margin: 0;  /* Magic! */    
        padding: 0;
        }
    }

